.about-me {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .aboutMeInfo {
    flex-basis: 100%;
    margin: 0 2rem;

    p,
    h4 {
      padding: 1rem;
    }
  }
}
