footer {
  width: 100%;
  border-top: solid 1px $colororange;
  align-self: flex-end;
  .footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &-social {
      padding: 2rem;
      @media (max-width: 640px) {
        padding: 1rem;
      }
      a {
        color: white;
        font-size: 3rem;
        padding: 0.5rem;
        @media (max-width: 640px) {
          font-size: 2rem;
        }
        &:hover {
          color: $color3;
        }
      }
    }
  }
}
