footer {
  width: 100%;
  border-top: solid 1px $colororange;
  align-self: flex-end;
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-email,
    &-phone {
      display: block;
      padding: 10px;
      text-decoration: underline;
    }
    &-email {
      a {
        text-decoration: underline;
        color: white;
      }
    }
  }
}
