.page-wrap {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 0;
}

.error {
  color: red;
  font-size: 40px;
  margin: 100px auto;
}
.active {
  color: $color3;
  @media (max-width: 640px) {
    color: black;
  }
}

.btn {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: $bgcolor;
  font-size: 18px;
  font-weight: bold;
}
