.project-card {
  width: 45%;
  margin: 0 auto;
  border: solid 1px #f26b1d;
  border-radius: 25px;
  color: white;
  padding: 1rem;
  margin: 1rem;
  .project-name {
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem 0;
  }
  .project-stack {
    font-size: 1rem;
    color: $linkcolor;
    font-style: italic;
    text-align: center;
    padding: 0.5rem 0;
  }
  .project-details {
    padding: 1rem 0;
    border-top: 1px solid #f26b1d;
    border-bottom: 1px solid #f26b1d;
    word-wrap: break-word;
    p {
      letter-spacing: 1px;
    }
  }
  .project-links {
    text-align: center;
    p {
      padding: 0.5rem;
      span {
        display: inline-block;
        padding: 0.3rem;
      }
      a {
        display: block;
        color: $linkcolor;
        word-wrap: break-word;
      }
    }
  }
}

@media (max-width: 640px) {
  .project-card {
    width: 80%;
    min-height: 200px;
    background-color: white;
    color: black;
    .project-stack {
      color: rgb(0, 88, 251);
    }
    .project-links {
      p {
        a {
          color: black;
        }
      }
    }
  }
}
