$bgmain: #6d8ba5;
$bgsecondary: #a0c3d8;
$colordarkgreen: #698c35;
$colorlightgreen: #89bf16;
$colororange: rgba(242, 107, 29, 1);
$bgcolor: #333;
$color2: #698c35;
$color1: #89bf16;
$color3: rgba(242, 107, 29, 1);
$linkcolor: rgb(0, 243, 251);

$breakpoints: (
  "xsmall": 420px,
  "small": 640px,
  "medium": 840px,
  "large": 1024px,
  "xlarge": 1280px,
);
