@import "variables";
@import "global";
@import "mixins";
@import "logo";
@import "navigation";
@import "homePage";
@import "projectsPage";
@import "aboutMePage";
@import "contactPage";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(26, 25, 25, 0.897);
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  backdrop-filter: blur(25px);
}
.wrapper {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
