@import "variables";
@import "global";
@import "mixins";
@import "logo";
@import "navigation";
@import "homePage";
@import "projectsPage";
@import "aboutMePage";
@import "cvPage";
@import "contactPage";
@import "footer";
@import "selectLang";
@import "projectCard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../assets/bg2.png") no-repeat center center fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.background-effects {
  position: absolute;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.904);
}
.wrapper {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
