@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
.page-wrap { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; margin: 50px 0; }

.error { color: red; font-size: 40px; margin: 100px auto; }

.active { color: #f26b1d; }

@media (max-width: 640px) { .active { color: black; } }

.btn { display: block; padding: 10px 20px; border-radius: 5px; border: none; background-color: white; color: #333; font-size: 18px; font-weight: bold; }

.logo { padding: 2rem; border-radius: 10px; text-align: center; text-transform: uppercase; font-weight: bold; font-size: 2rem; }

@media (max-width: 880px) { .logo { padding: 1rem; border-radius: 10px; text-align: center; text-transform: uppercase; font-weight: bold; font-size: 1.5rem; } }

.logo-animation span { -webkit-animation-name: animatedLogo; animation-name: animatedLogo; -webkit-animation-duration: 6s; animation-duration: 6s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.logo-animation span:nth-child(1) { color: #f67265; -webkit-animation-delay: 0s; animation-delay: 0s; }

.logo-animation span:nth-child(2) { color: #d45770; -webkit-animation-delay: 1s; animation-delay: 1s; }

.logo-animation span:nth-child(3) { color: #eb6cc5; -webkit-animation-delay: 2s; animation-delay: 2s; }

.logo-animation span:nth-child(4) { color: #c657d4; -webkit-animation-delay: 3s; animation-delay: 3s; }

.logo-animation span:nth-child(5) { color: #bf65f6; -webkit-animation-delay: 4s; animation-delay: 4s; }

.logo-animation span:nth-child(6) { color: #f67265; -webkit-animation-delay: 5s; animation-delay: 5s; }

@-webkit-keyframes animatedLogo { 0% { color: #f67265; }
  20% { color: #d45770; }
  40% { color: #eb6cc5; }
  60% { color: #c657d4; }
  80% { color: #bf65f6; }
  100% { color: #f67265; } }

@keyframes animatedLogo { 0% { color: #f67265; }
  20% { color: #d45770; }
  40% { color: #eb6cc5; }
  60% { color: #c657d4; }
  80% { color: #bf65f6; }
  100% { color: #f67265; } }

nav { width: 100%; border-bottom: solid 1px #f26b1d; }

nav .nav-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

nav .nav-wrapper .logo-wrap { -ms-flex-preferred-size: 15%; flex-basis: 15%; }

nav .nav-wrapper .lang-container { -ms-flex-preferred-size: 5%; flex-basis: 5%; position: relative; }

nav .nav-wrapper .nav-list { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; display: -webkit-box; display: -ms-flexbox; display: flex; list-style: none; }

nav .nav-wrapper .nav-list li { padding: 2rem; text-align: center; }

nav .nav-wrapper .nav-list li a { color: white; font-size: 1.4rem; text-decoration: none; }

nav .nav-wrapper .nav-list li a:hover { color: #f26b1d; }

nav .nav-wrapper .nav-list li a.active { color: #f26b1d; }

nav .nav-wrapper .nav-list li a .icon-centered { padding-top: 0.5rem; font-size: 1.7rem; }

.mobile-menu-actions { display: none; }

@media (max-width: 1024px) { nav { width: 90%; margin: 0 auto; }
  nav .nav-wrapper .nav-list { padding-left: 3rem; }
  nav .nav-wrapper .nav-list li { padding: 1rem; }
  nav .nav-wrapper .nav-list li a { font-size: 1rem; }
  nav .nav-wrapper .nav-list li a .icon-centered { padding-top: 0.5rem; font-size: 1.5rem; } }

@media (max-width: 880px) { nav { width: 90%; margin: 0 auto; }
  nav .nav-wrapper .logo-wrap { -ms-flex-preferred-size: 10%; flex-basis: 10%; }
  nav .nav-wrapper .nav-list { padding-left: 1rem; }
  nav .nav-wrapper .nav-list li { padding: 0.5rem; }
  nav .nav-wrapper .nav-list li a { font-size: 0.9rem; } }

@media (max-width: 640px) { nav { width: 100%; border: none; }
  nav .nav-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  nav .nav-wrapper .logo-wrap, nav .nav-wrapper .lang-container { display: none; }
  nav .nav-wrapper .mobile-menu-actions { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; height: 10vh; width: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  nav .nav-wrapper .mobile-menu-actions .mobile-menu-close, nav .nav-wrapper .mobile-menu-actions .mobile-menu-open { -ms-flex-preferred-size: 75%; flex-basis: 75%; font-size: 2rem; text-align: right; padding-right: 2rem; }
  nav .nav-wrapper .mobile-menu-actions .mobile-menu-open { padding-right: 1.5rem; }
  nav .nav-wrapper .mobile-menu-actions .mobile-menu-open span { display: inline-block; -webkit-transform: rotate(90deg); transform: rotate(90deg); }
  nav .nav-wrapper .mobile-menu-actions .mobile-menu-lang { -ms-flex-preferred-size: 25%; flex-basis: 25%; }
  nav .nav-wrapper .mobile-menu-actions .mobile-menu-open.hide, nav .nav-wrapper .mobile-menu-actions .mobile-menu-close.hide { display: none; }
  nav .nav-wrapper .nav-list { height: 90vh; padding: 10vh 0 20vh; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; list-style: none; }
  nav .nav-wrapper .nav-list li { -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 2rem; text-align: left; }
  nav .nav-wrapper .nav-list li a { color: white; font-size: 2.5rem; text-decoration: none; padding: 0 1rem; }
  nav .nav-wrapper .nav-list li a:hover { color: #f26b1d; }
  nav .nav-wrapper .nav-list li a.active { color: #f26b1d; }
  nav .nav-wrapper .nav-list li a .icon-centered { padding: 0; margin-right: 1rem; padding-top: 0.5rem; font-size: 3rem; }
  nav .nav-wrapper .nav-list.hide { display: none; } }

.page-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

@media (max-width: 640px) { .page-container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.page-container .home-introduction { -ms-flex-preferred-size: 100%; flex-basis: 100%; margin: 0 25px; font-family: "Cairo", Arial, sans-serif; font-size: 20px; }

div.img-container img { margin: 0 25px 0 25px; width: 300px; border: solid 1px #f26b1d; border-radius: 10px; -webkit-box-shadow: 0 0 2px 2px #f26b1d; box-shadow: 0 0 2px 2px #f26b1d; }

.projects-header { -ms-flex-preferred-size: 100%; flex-basis: 100%; text-align: center; margin-bottom: 2rem; }

.about-me { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.about-me div { -ms-flex-preferred-size: 100%; flex-basis: 100%; text-align: center; margin: 0 auto; }

.cv-page { max-width: 50vw; min-height: 50vh; background-color: white; overflow: scroll; position: relative; color: black; }

.cv-page .cv-header { background-color: rgba(173, 173, 173, 0.623); margin-top: 25px; padding: 20px 0; }

.cv-page .cv-aside { position: absolute; top: 0; left: 80%; -webkit-transform: translateX(-25px); transform: translateX(-25px); height: 100%; width: 20%; background-color: #888888; }

.cv-page .cv-aside .cv-photo img { margin-top: 25px; width: 100px; height: 100px; border-radius: 50%; }

.cv-page .cv-body { margin: 20px 25% 0 0; }

.contact { position: relative; min-height: 270px; }

.contact .contact-info { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.contact .contact-info span { display: block; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-preferred-size: 100%; flex-basis: 100%; padding: 15px; text-align: center; }

.contact .contact-info a { text-decoration: none; color: white; }

footer { width: 100%; border-top: solid 1px #f26b1d; -ms-flex-item-align: end; align-self: flex-end; }

footer .footer-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

footer .footer-info-social { padding: 2rem; }

@media (max-width: 640px) { footer .footer-info-social { padding: 1rem; } }

footer .footer-info-social a { color: white; font-size: 3rem; padding: 0.5rem; }

@media (max-width: 640px) { footer .footer-info-social a { font-size: 2rem; } }

footer .footer-info-social a:hover { color: #f26b1d; }

.select-lang { position: relative; }

.select-lang img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 30px; height: 30px; }

.project-card { width: 45%; margin: 0 auto; border: solid 1px #f26b1d; border-radius: 25px; color: white; padding: 1rem; margin: 1rem; }

.project-card .project-name { text-align: center; margin: 0 auto; padding: 0.5rem 0; }

.project-card .project-stack { font-size: 1rem; color: #00f3fb; font-style: italic; text-align: center; padding: 0.5rem 0; }

.project-card .project-details { padding: 1rem 0; border-top: 1px solid #f26b1d; border-bottom: 1px solid #f26b1d; word-wrap: break-word; }

.project-card .project-links { text-align: center; }

.project-card .project-links p { padding: 0.5rem; }

.project-card .project-links p span { display: inline-block; padding: 0.3rem; }

.project-card .project-links p a { display: block; color: #00f3fb; word-wrap: break-word; }

@media (max-width: 640px) { .project-card { width: 80%; min-height: 200px; background-color: white; color: black; }
  .project-card .project-stack { color: #0058fb; }
  .project-card .project-links p a { color: black; } }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { background: url("../assets/bg2.png") no-repeat center center fixed; font-family: Verdana, Geneva, Tahoma, sans-serif; color: white; }

.background-effects { position: absolute; width: 100%; background-color: rgba(34, 34, 34, 0.904); }

.wrapper { max-width: 1024px; min-height: 100vh; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
/*# sourceMappingURL=index.css.map */